numpy==1.18.4
youtube_dl==2020.5.8
tensorflow==2.2.0
fastai==1.0.51
scipy==1.4.1
requests==2.23.0
matplotlib==3.2.1
torchvision==0.6.0
opencv-contrib-python==4.4.0.40
tqdm==4.46.0
ffmpeg_python==0.1.17
torch==1.5.0
ffmpeg==1.4
Flask==1.1.2
imageio==2.9.0
ipython==7.16.1
Pillow==7.2.0
PyInstaller==3.6
PyYAML==5.3.1
skimage==0.0
tensorboardX==2.1
tensorflow_addons==0.10.0

colorama
Theano==0.8.2
git+https://github.com/Lasagne/Lasagne.git@61b1ad1#egg=Lasagne==0.2-dev
Image