fastai==1.0.51
ffmpeg==1.4
Flask==2.1.0
imageio==2.16.1
ipython==8.2.0
matplotlib==3.5.1
numpy==1.22.3
opencv_contrib_python==4.5.5.64
Pillow==9.0.1
PyInstaller==4.10
PyQt6==6.2.3
requests==2.27.1
scipy==1.8.0
skimage==0.0
tensorboardX==2.5
tensorflow==2.8.0
torch==1.10.2
torchvision==0.11.3
tqdm==4.63.1
validators==0.18.2
youtube_dl==2021.12.17
